* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.parallax-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-family: Montserrat, sans-serif;
  width: 100%;
  min-height: 100vh;
}

.parallax-item h2 {
  font-size: 3rem;
  text-transform: uppercase;
  background-color: whitesmoke;
  padding: 1rem;
  border-radius: 1rem;
}

.parallax-item:first-child {
  background: url("https://unsplash.com/photos/Y9dx7JmW5Ew/download?force=true&w=1920")
    no-repeat center center;
  background-size: cover;
}

.parallax-item:nth-child(2) {
  background: #fdd835;
}

.parallax-item:nth-child(3) {
  background: url("https://unsplash.com/photos/KMn4VEeEPR8/download?force=true&w=1920")
    no-repeat center center;
  background-size: cover;
  background-attachment: fixed; /* Parallax Effect */
  min-height: 600px;
}

.parallax-item:nth-child(4) {
  background: #1565c0;
}

@media screen and (max-width: 768px) {
  .parallax-item h2 {
    font-size: 1.5rem;
  }
}
