.main-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh; /* Adjust height as needed */
  text-align: center;
}

.main-heading {
  font-size: 48px; /* Adjust font size as needed */
  font-weight: bold;
  margin: 0;
  animation: fadeIn 2s ease-in-out; /* Add animation */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.scroll-down {
  position: absolute;
  bottom: 10px; /* Adjust this value as needed */
  font-size: 24px; /* Adjust font size as needed */
  cursor: pointer;
  animation: bounce 2s infinite; /* Add bounce animation */
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
